body {
  box-sizing: border-box;
}

.btn {
  border-radius: 50px;
  width: 18%;
  background-color: brown;
}
button {
  background-color: rgb(14, 144, 142);
}
label {
  border: 1px solid black;
}
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #b9531c; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
